<meta name="viewport" content="width=550, initial-scale=1">
<div class="container">
  <nav>
     <div class="row">
      <a href="/users">Users</a>
      <a href="/users/new">Sign Up</a>
      <a href="/sign_in">Sign In </a>
    </div>
  </nav>  
</div>
