<meta name="viewport" content="width=550, initial-scale=1">
<div class="container">
  <nav>
     <div class="row">
      <a class = "button" href="/users"> Users</a>
      <a class = "button" href="/users/new"> Sign Up</a>
      <a class = "button" href="/sign_in"> Sign In </a>
      <a class = "button" href="/profile"> Profile </a>
    </div>
  </nav>
</div>
