<meta name="viewport" content="width=550, initial-scale=1">
    <div class="container">
      <div class="row">
        <div class="twelve column">
            <%= render partial: 'navigation'%>
        </div>
      </div>
    </div>

    <!-- Div is for mouse background -->
    <div class="my-container">
    </div>

    <h3>Welcome</h3>
    <h4>Please sign in below</h4>


    <%= render partial: 'form' %>
