<div class="container">
  <div class="row">
    <div class="twelve column">
        <%= render partial: 'navigation'%>
    </div>
  </div>
</div>
<h3>Welcome</h3>
<h4>Please sign in below</h4>


<%= render partial: 'form' %>
